  <!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->

    <a href="/" class="brand-link" style="padding-bottom:10px; display: flex;align-items: center;justify-content: center;">
        <img src="~/images/logo.svg" alt="AQBooking Logo" class="brand-image"
             style="opacity: .8;margin:10px 0;max-height:120px">
        @*<span class="brand-text font-weight-light">AQ Booking</span>*@
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/images/avatar.png" class="img-circle elevation-2" alt=" @WorkContext.CurrentUser.FullName() Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@WorkContext.CurrentUser.FullName()</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                @*<li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard

                            </p>
                        </a>

                    </li>*@
                <li class="nav-header">BLOGS</li>
                <li class="nav-item">
                    <a href="@Url.Action("List","PostCategory")" class="nav-link" id="postCateList">
                        <i class="nav-icon fas fa-layer-group"></i>
                        <p>
                            Posts Category
                            @*<i class="fas fa-angle-left right"></i>*@
                        </p>
                    </a>
                    @*<ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("List","PostCategory")" class="nav-link">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>List</p>
                                </a>
                            </li>
                        </ul>*@
                </li>
                <li class="nav-item has-treeview">
                    <a href="@Url.Action("List","Post")" class="nav-link" id="postList">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            Posts
                            @*<i class="fas fa-angle-left right"></i>*@

                        </p>
                    </a>
                    @*<ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="" class="nav-link">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>List</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("CreateUpdatePost","Post",new {Id=0 })" class="nav-link">
                                    <i class="far fa-edit nav-icon"></i>
                                    <p>Create New</p>
                                </a>
                            </li>

                        </ul>*@
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("List","EmailSubcriber")" class="nav-link" id="emailSub">
                        <i class="nav-icon fa fa-at"></i>
                        <p>
                            Email Subcriber
                        </p>
                    </a>

                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>